{
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],

    "rules": {
        "quotes": ["warn", "single"],
        "semi": "warn",
        "eol-last": "warn",
        "no-unused-vars": "warn"
    }
}